*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BLOCCO LEZIONI */

#lezioni .col-lg-12 img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
  margin-top: 100px;
}

/* BLOCCO STEPS */

#steps {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why > .col-lg-12{
  margin-top: 80px;
}

#why .col-lg-12 img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */

#steps, #why{
  background-color: #f9f9f9;
}

img {
  height: 200px;
}


@media screen and (max-width: 768px) {
  img{
    height: 25vw;
    margin: 10px 0;
  }

  #lezioni, #why{
    background-color: #f2f2cd;
    margin: 0;
    padding: 10px 5px;
  }

  #steps{
    background-color: white;
    margin: 0;
    padding: 10px 5px;
  }
  #why .col-lg-12 img {
    padding: 15px;
  }

}

@media screen and (min-width: 769px) and (max-width: 991px){
  
}
